{    
    "jsxBracketSameLine": true,
    "semi": false,
    "singleQuote": true,
    "useTabs": true,
    "bracketSpacing": true,
    "printWidth": 80,
    "tabWidth": 2,
    "trailingComma": "none",
    "parser": "babylon",
    "arrowParens": "avoid",   
    "useEslint": false,
    "useStylelint": false,
    "useEditorConfig": true,
    "prettierEslintOptions": {
        "prettierLast": false
    },    
    "scopes": {
        "javascript": [
            "source.js",
            "source.jsx",
            "source.js.jsx",
            "source.babel",
            "source.js-semantic",
            "text.html.basic",
            "text.html.vue"
        ],
        "typescript": [
            "source.ts",
            "source.tsx",
            "source.ts.tsx"
        ],
        "css": [
            "source.css",
            "source.less",
            "source.css.less",
            "source.scss",
            "source.css.scss",
            "source.css.postcss"
        ],
        "json": [
            "source.json"
        ],
        "graphQl": [
            "source.graphql"
        ],
        "markdown": [
            "source.md",
            "source.gfm",
            "text.md"
        ],
        "vue": [
            "text.html.vue"
        ]
    }
}